@import "tailwindcss";
/* @plugin "daisyui"; */
@plugin "daisyui" {
  themes: light --default;
}
@theme {
  --font-display: "Oswald", "sans-serif";
}

@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;

  overflow-x: hidden;
}
