@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.shimmer {
  position: relative;
  overflow: hidden;
  background-color: #e5e7eb; /* Tailwind gray-200 */

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    );
    animation: shimmer 1.5s infinite;
  }
}
